.filterBtn {
    background: none;
    border: none;
    outline: none;
    min-width: 90px;
    border: 2px solid #ccc;
    color: #fff;
    border-radius: 1.5rem;
    padding: 0.3rem 0.75rem;
    font-weight: 700;
}

/* .filterBtn.kids {
    border: 2px solid #541399;
}

.filterBtn.junior {
    border: 2px solid #85E807;
}

.filterBtn.senior {
    border: 2px solid #29AAE1;
} */

.filterBtn.selected {
    border-color: #fff;
    background: #fff;
    color: #541399;
}

.filterBtn.kids.selected {
    border-color: #541399;
    background: #541399;
    color: #fff;
}

.filterBtn.junior.selected {
    border-color: #85E807;
    background: #85E807;
    color: #fff;
}

.filterBtn.senior.selected {
    border-color: #29AAE1;
    background: #29AAE1;
    color: #fff;
}

.searchWrapper {
    position: relative;
}

.searchIcon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

.search {
    background: none;
    outline: none;
    border: 2px solid #ccc;
    color: #fff;
    border-radius: 1.5rem;
    padding: 0.3rem 2.5rem 0.3rem 0.75rem;
    width: 90px;
    transition: width ease 0.3s;
}

.search.focus {
    width: 200px;
}

.videoWrapper {
    background-image: url(../assets/image/video-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10.2%;
}

.videoWrapper.kids {
    background-image: url(../assets/image/video-bg-kids.png);
}

.videoWrapper.junior {
    background-image: url(../assets/image/video-bg-junior.png);
}

.videoWrapper.senior {
    background-image: url(../assets/image/video-bg-senior.png);
}

.voteWrapper {
    padding: 0 10%;
    margin-top: -5%;
}

.voteIcon {
    height: 40px;
}

.signInText {
    font-size: 0.775rem;
}

.voteCount {
    width: 87px;
    height: 40px;
    background-image: url(../assets/svg/vote-count-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 5px;
    font-size: 1.4rem;
    font-weight: 500;
}

.voteCount.kids {
    background-image: url(../assets/svg/vote-count-bg-kids.svg);
}

.voteCount.junior {
    background-image: url(../assets/svg/vote-count-bg-junior.svg);
}

.voteCount.senior {
    background-image: url(../assets/svg/vote-count-bg-senior.svg);
}

.submissionInfo {
    padding: 0 10%;
    margin-top: 4%;
}

.submissionInfoField {
    border: 3px solid #ccc;
    border-radius: 2rem;
    padding: 0.7rem 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.submissionInfo.kids .submissionInfoField {
    border-color: #541399;
}

.submissionInfo.junior .submissionInfoField {
    border-color: #85E807;
}

.submissionInfo.senior .submissionInfoField {
    border-color: #29AAE1;
}